body {
  background-color:rgb(70, 69, 69);
  color: silver;
}

.App {
  text-align: center;
}

.main-content{
  margin: 4rem 2.5rem;
}

button {
  border: 0;
  bottom: 0;
  background: none;
  /* color: white; */
}

button:disabled {
  color: rgba(192, 192, 192, 0.699);
}